@import './variables';

.fas fa-chevron-down {
    padding-right: 1.5rem;
    font-size: 1rem;
}

.input-country svg {
    fill: $tertiary-color;
    width: 1.5rem;
}

.button-back svg {
    display: inline;
    width: 1.5rem;
    fill: $tertiary-color;
}