@import './icons';
@import './mixins';
@import './variables';

// $primary-color: hsl(209, 23%, 22%);
// $secondary-color: hsl(207, 26%, 17%);
// $tertiary-color: hsl(0, 0%, 100%);
// $main-font: 'Nunito Sans', sans-serif;

// //breakpoints
// $desktop-width: 1440px;
// $mobile-width: 375px;

// $rounded-corners: 5px;

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

*, *:after, *:before {
    box-sizing: inherit;
    font-family: $main-font;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    //border: 1px solid #f00 !important;
}

body {
    background: $secondary-color;
    color: $tertiary-color;
}

.header {
    // display: flex;
    // justify-content: center;
    // margin: auto;
    //width: 100vw;
    text-align: center;
    background: $primary-color;
    box-shadow: $shadow-1;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    height: 5rem;
    padding: 0 5rem;
    margin: 0 auto;
}

.container.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.button {
    // color: $tertiary-color;
    &-mode {
        color: $tertiary-color;
        background: $primary-color;
        border: none;
        font-weight: 300;
        font-size: 1rem;
    }

    &-border {
        color: $tertiary-color;
        background: $primary-color;
        border: none;
        font-weight: 300;
        font-size: 1rem;
        margin-right: 1rem;
        text-decoration: none;
        padding: 1rem 1rem;
        border-radius: $rounded-corners;
    }
}

main {
    display: flex;
    //width: 100vw;
    justify-content: center;
}

.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;

    .input-country {
        position: relative;
        
        &-field {
            background: $primary-color;
            border: none;
            color: $tertiary-color;
            padding: 1.5rem 5rem;
            font-size: 1.5rem;
            width: 40rem;
            border-radius: $rounded-corners;
            box-shadow: $shadow-1;
        }

        &-field::placeholder {
            color: $tertiary-color;
        }

        .icon-container {
            position: absolute;
            top: 1.25rem;
            left: 1.5rem;

            svg {
                //min-height: 1.5rem;
                width: 2rem;
            }
        }

    }

    .region-select {
        background: $primary-color;
        color: $tertiary-color;
        border: none;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: $rounded-corners;
        font-size: 1.5rem;
        box-shadow: $shadow-1;
    }

    // .region-select:: {
    //     background: $primary-color;
    //     color: $tertiary-color;
    //     border: none;
    //     padding: 1rem 1.5rem;
    //     border-radius: $rounded-corners;
    //     font-size: 1rem;
    // }
}

.countries {
    background: $secondary-color;
    font-size: 1.4rem;
    position: relative;
    transition: all 0.5s;

    .countries-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: space-between;
        grid-gap: 10rem;
        list-style: none;
        width: 100%;

        .country-card {
            //width: 25rem;
            //height: 50rem;
            background: $primary-color;
            border-radius: $rounded-corners;
            box-shadow: $shadow-1;
            border: 3px solid rgba(0,0,0,0);
            transition: all 0.2s;
            justify-self: center;
            max-height: 50rem;
            max-width: 40rem;

            &-area {
                text-decoration: none;
                color: $tertiary-color;
            }  
            
            &-flag {
                width: 100%;
                height: 50%;
                object-fit: cover;
                border-top-left-radius: $rounded-corners;
                border-top-right-radius: $rounded-corners;
            }

            &-brief {
                height: 50%;
                padding: 1rem 1.3rem 3rem 1.3rem;

                h2 {
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-weight: 600;
                }
                span {
                    font-weight: 300;
                }
            }
        }

        .country-card:hover {
            transform: scale(1.05);
            border: 3px solid $tertiary-color-1;
        }
    }
}

.page-transition-away {
    transform: translateY(10rem);
    opacity: 0%;
}

// .page-transition-into {
//     transform: translateY(rem);
//     opacity: 0%;
// }

.back {
    display:flex;
    align-items: center;
    height: 10rem;

    .button-back {
        text-decoration: none;
        color: $tertiary-color;
        font-size: 1.6rem;
        background: $primary-color;
        padding: 0.8rem 3rem;
        border: 3px solid transparent;
        border-radius: $rounded-corners;
        box-shadow: $shadow-1;
        transition: all 0.2s;
    }

    .button-back:hover {
        //transform: scale(1.05);
        border: 3px solid $tertiary-color-1;
        border-radius: $rounded-corners;
    }
}

.country-container {
    max-width: 150rem;
}

.country-info {
    //width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    transition: all 0.5s;
    
    &__flag {

        width: 50%;
        img {
            //height: 30rem;
            object-fit: cover;
            max-width: 80rem;
            width: 90%;
        }
    }

    &__data {
        width: 50%;
        //max-width: 80rem;
        padding: 3rem;

        .country-name {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .data-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            p {
                margin-bottom: 0.5rem;
                font-weight: 800;

                span {
                    font-weight: 500;
                }
            }
        }

        .border-countries {
            display: flex;
            align-items: center;

            .border-countries-list {
                display:flex;
                flex-wrap: wrap;
                // line-height: 2;
                align-content: space-between;
            }
            a {
                transition: all 0.2s;
                border: 1px solid transparent;
            }

            a:hover {
                border: 1px solid $tertiary-color-1;
            }
        }
    }
}

.country-info.transition {
    transform: translateY(10rem);
    opacity: 0%;
}

@media (max-width: 1024px) {
    .country-info {
        display:flex;
        flex-direction: column;
        align-items: center;

        &__flag {
            width: 100%;
            display:flex;
            justify-content: center;

            img {
                width: 60rem;
                height: auto;
            }
        }

        &__data {
            width: 100%;
        }
    }


}

@media (max-width: 769px) {
    html {
        font-size: 8px;
    }

    .countries-list {
        
    }

    .country-info {

        &__flag {
            img {
                
            }
        }

        &__data {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 481px) {
    .country-info {

        &__flag {
            img {
                width: 40rem;
            }
        }

        &__data {
            .data-section {
                display: flex;
                flex-direction: column;
                width: 100vw;

                p {
                    margin-bottom: 1rem;
                }

                &-1 {
                    margin-bottom: 2rem;
                }
            }
            
        }
    }

    .input-section {
        flex-direction: column;
        align-items: flex-start;

        .input-country {
            margin-bottom: 2rem;
        }
    }
}