.fas fa-chevron-down {
  padding-right: 1.5rem;
  font-size: 1rem;
}

.input-country svg {
  fill: white;
  width: 1.5rem;
}

.button-back svg {
  display: inline;
  width: 1.5rem;
  fill: white;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  background: #202c37;
  color: white;
}

.header {
  text-align: center;
  background: #2b3945;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  height: 5rem;
  padding: 0 5rem;
  margin: auto;
}

.container.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.button-mode {
  color: white;
  background: #2b3945;
  border: none;
  font-weight: 300;
  font-size: 1rem;
}

.button-border {
  color: white;
  background: #2b3945;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.input-section .input-country {
  position: relative;
}

.input-section .input-country-field {
  background: #2b3945;
  border: none;
  color: white;
  padding: 1.5rem 5rem;
  font-size: 1rem;
  width: 40rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
}

.input-section .input-country-field::-webkit-input-placeholder {
  color: white;
}

.input-section .input-country-field:-ms-input-placeholder {
  color: white;
}

.input-section .input-country-field::-ms-input-placeholder {
  color: white;
}

.input-section .input-country-field::placeholder {
  color: white;
}

.input-section .input-country .icon-container {
  position: absolute;
  top: 1.25rem;
  left: 1.5rem;
}

.input-section .region-select {
  background: #2b3945;
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
}

.countries {
  background: #202c37;
  font-size: 1.4rem;
}

.countries .countries-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  list-style: none;
}

.countries .countries-list .country-card {
  width: 25rem;
  background: #2b3945;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.countries .countries-list .country-card-area {
  text-decoration: none;
  width: 100%;
  color: white;
}

.countries .countries-list .country-card-flag {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.countries .countries-list .country-card-brief {
  padding: 1rem 1.3rem 3rem 1.3rem;
}

.countries .countries-list .country-card-brief h2 {
  margin-bottom: 1rem;
}

.countries .countries-list .country-card-brief p {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.countries .countries-list .country-card-brief span {
  font-weight: 300;
}

.countries .countries-list .country-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

.back .button-back {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  background: #2b3945;
  padding: 0.8rem 3rem;
  border: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(58, 4, 4, 0.2);
}

.country-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
}

.country-info__flag {
  width: 50%;
}

.country-info__flag img {
  height: 30rem;
}

.country-info__data {
  width: 50%;
  padding: 3rem;
}

.country-info__data .country-name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.country-info__data .data-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.country-info__data .data-section p {
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.country-info__data .data-section p span {
  font-weight: 500;
}

.country-info__data .border-countries .border-countries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
/*# sourceMappingURL=style.css.map */